#searchbox {
  margin-left: 50%;
  overflow: hidden;
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#searchbox input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

#Table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#Table td,
#Table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#Table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#table tr:hovr {
  background-color: #ddd;
}
#Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
